version: "2.4"
services:
  app:
    restart: always
    image: registry.cn-wulanchabu.aliyuncs.com/programschool-dev/middle-proxy:latest
    container_name: middle-proxy
    network_mode: bridge
    ports:
      - 443:443
      - 80:80
    entrypoint: ./middle-proxy
    volumes:
      - /home/service/ssl/server:/home/ssl
      - /home/logs:/home/logs
